# conda install tensorflow-gpu
# pytorch official website generate conda install script
# install mujoco 1.5 to ~/.mujoco
# mujoco-py 1.50.1 mannual install
# pip install 'gym[all]'
# install baseline. For tensorflow 2 need to manually install
# baseline on tf2 branch: https://github.com/openai/baselines/tree/tf2
opencv-python
tensorboardX
atari-py==0.1.7
scikit-image==0.14.2
tqdm==4.31.1
pathlib==1.0.1
pymongo
ipdb
dm_control
git+https://github.com/ShangtongZhang/dm_control2gym.git@scalar_fix
