# conda install tensorflow-gpu
# pytorch official website generate conda install script
# install mujoco 1.5 to ~/.mujoco
# mujoco-py 1.50.1 mannual install
# pip install 'gym[all]'
# install baseline. For tensorflow 2 need to manually install
# baseline on tf2 branch: https://github.com/openai/baselines/tree/tf2
opencv-python
tensorboardX
atari-py==0.2.6
tqdm
pathlib
pymongo
ipdb

# Transfer Learning DM-Suite:
dm-control==0.0.322773188
git+git://github.com/denisyarats/dmc2gym.git
# git+git://github.com/deepmind/dm_control.git@1038345fa347165b7e29fa677824b2e9ee87762f
# git+https://github.com/ShangtongZhang/dm_control2gym.git@scalar_fix
