# torch==0.4.0
# torchvision==0.2.1
# mujoco-py mannual install. no later than 1.5 because gym support?
gym
tensorflow
opencv-python
tensorboardX
dm_control
git+https://github.com/ShangtongZhang/dm_control2gym.git@scalar_fix
atari-py==0.1.7
scikit-image==0.14.2
tqdm==4.31.1
pathlib==1.0.1
# roboschool==1.0.49 deprecated
pymongo
ipdb
